@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.imageCover::before {
    background:black;
    display: block;
    position: absolute;
    content: "";
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:.55;
}
/*
font-family: 'Dancing Script', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.fontstyle{
  font-family: 'Lato', sans-serif;
}
.fontstyle2{
    font-family: 'Raleway', sans-serif;
}